* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem 1.35rem;
  position: sticky;
  top: 0;
  left: 0;
}
.logo {
  border-radius: 50%;
  width: 80%;
  height: 80%;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  position: fixed;
  top: 0;
  left: 200%;
  z-index: 25;
}
.links.show {
  left: 0;
  padding: 6rem 1rem 1rem;
  background-color: #191a19f2;
  height: 100vh;
  width: 100%;
}
.links.show a {
  color: white;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}
.menu {
  --height: 4px;
  --width: 16px;
  --bg: #191a19;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-end;
  cursor: pointer;
  position: absolute;
  right: 1.35rem;
  z-index: 50;
}
.menu.opened {
  --bg: white;
}
.menu .middle {
  height: var(--height);
  width: var(--width);
  background-color: var(--bg);
}
.menu::before,
.menu::after {
  content: "";
  background-color: var(--bg);
  height: var(--height);
  transition: 0.2s ease-in-out;
}
.menu::before {
  width: calc(var(--width) / 2);
}
.menu::after {
  width: calc(var(--width) * 1.5);
}
.menu.opened::before {
  width: calc(var(--width) * 1.5);
}
.menu.opened::after {
  width: calc(var(--width) / 2);
}

@media screen and (min-width: 1025px) {
  nav {
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .links {
    position: static;
    flex-direction: row;
    gap: 1rem;
  }
}

:root {
  --mobile-width: 325px;
  --mobile-height: 670px;
  --mobile-radius: 25px;
  --separator-height: 500px;

  --bg: #bcd390;
  --mobile-bg: #6c9b51;
  --intro-bg: #1a412a;
  --font-color: #000000;

  --transition: transform 0.7s ease-in-out;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}

.info {
  font-family: "Quicksand", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 80px;
  margin-top: 10px;
  color: var(--font-color);
}

.mobile-layout {
  width: var(--mobile-width);
  height: var(--mobile-height);
  margin: 30px 0;
  border-radius: var(--mobile-radius);
  perspective: 500px;
  overflow: hidden;
  color: var(--font-color);
  background-color: var(--mobile-bg);
  box-shadow: 36px 36px 50px 15px #7da34bd1;

  .notification-header {
    position: fixed;
    top: 5px;
    width: 100%;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    z-index: 6;
  }

  .actions {
    position: fixed;
    top: 37px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    z-index: 6;
  }

  .book-cover {
    position: relative;
    height: var(--separator-height);
    width: calc(var(--mobile-width) * 2);
    left: -52.5%;
    border-top-left-radius: var(--mobile-radius);
    border-top-right-radius: var(--mobile-radius);
    background-color: var(--intro-bg);
    transform-style: preserve-3d;
    transform-origin: 50% 40%;
    transition: var(--transition);
    z-index: 4;
  }

  .book-top {
    width: 170px;
    position: absolute;
    top: 180px;
    left: 250px;
    z-index: 5;
    transform: translateZ(28.5px);
  }

  .book-side {
    position: absolute;
    top: 430px;
    left: 222px;
    transform: translateY(-15px) translateX(0px) translateZ(15px)
      rotateX(104deg);
  }

  .book-cover:hover {
    transform: rotateX(75deg) translateZ(3px) scale(0.75);
  }

  .book-cover:hover + .preface {
    transform: translateY(-302px);
    .icon {
      transform: rotateX(180deg);
    }
  }

  .preface {
    height: var(--separator-height);
    padding: 50px;
    transition: var(--transition);
    background: white;

    .header {
      display: flex;
      align-items: center;
    }

    .title {
      font-family: "Open Sans", sans-serif;
      font-family: "Quicksand", sans-serif;
      font-size: 26px;
      margin-bottom: 10px;
      text-align: right;
    }

    .author {
      font-family: "Open Sans", sans-serif;
      font-style: italic;
      margin-bottom: 26px;
      text-align: right;
    }

    .icon {
      transform-origin: top;
      transition: var(--transition);
    }

    .body {
      font-family: "Quicksand", sans-serif;
      text-align: right;
    }

    .body p:first-child {
      margin-bottom: 15px;
    }
  }
}

.container:hover > .mobile-layout .book-cover {
  transform: rotateX(75deg) translateZ(3px) scale(0.75);
}
.container:hover > .mobile-layout .book-cover + .preface {
  transform: translateY(-302px);
}
.container:hover > .mobile-layout .book-cover + .preface .icon {
  transform: rotateX(180deg);
}
img {
  float: right;
  border: 1px dotted black;
  margin: 0px 0px 15px 20px;
}

img {
  width: 20%;
  max-width: 20%;
  border-radius: 80%;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}
.gallery-item {
  /* width: 100%;
	margin-bottom: 20px; */
  background: #bed495;
  display: flex;
  align-items: center;
}
.gallery-item::before,
.gallery-item::after {
  content: " ";
  display: table;
}
.gallery-item::after {
  clear: both;
}
.gallery-text {
  padding: 10px;
  margin: 30px;
  font-size: 15px;
  text-align: right;
  flex: 1;
}
@media (min-width: 480px) {
  .gallery-img,
  .gallery-text {
    display: inline-block;
    width: 50%;
  }
  .gallery-img.left,
  .gallery-text.left {
    float: left;
  }
  .gallery-img.right,
  .gallery-text.right {
    float: right;
  }
}
